absl-py==0.12.0
actleto==0.1.0
aiohttp==3.7.4.post0
aiohttp-cors==0.7.0
aioredis==1.3.1
alabaster==0.7.12
alembic==1.6.4
allennlp==2.4.0
allennlp-models==2.4.0
aniso8601==9.0.1
annoy==1.16.2
appdirs==1.4.4
astor==0.8.0
astroid==2.3.3
astropy==3.2.3
astunparse==1.6.3
async-timeout==3.0.1
atomicwrites==1.3.0
attrdict==2.0.1
attrs==20.3.0
Babel==2.7.0
backcall==0.1.0
beautifulsoup4==4.9.3
bleach==3.1.0
blessings==1.7
blis==0.7.4
bokeh==1.4.0
boto==2.49.0
boto3==1.17.57
botocore==1.20.57
cached-property==1.5.2
cachetools==4.2.1
catalogue==2.0.3
category-encoders==2.1.0
cbor==1.0.0
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
chest==0.2.3
class-resolver==0.0.12
click==7.1.2
click-default-group==1.2.2
cliff==3.7.0
cloudpickle==1.2.2
cmaes==0.8.2
cmd2==1.5.0
colorama==0.4.1
colorlog==5.0.1
configparser==5.0.2
confuse==1.0.0
conllu==4.4
convertdate==2.3.2
cycler==0.10.0
cymem==2.0.5
Cython==0.29.14
dask==2.8.0
dataclasses==0.6
dataclasses-json==0.5.4
de-core-news-sm==2.1.0
decorator==4.4.1
deeppavlov==0.6.1
defusedxml==0.6.0
deprecation==2.1.0
distributed==2.8.0
docdata==0.0.3
docker-pycreds==0.4.0
docopt==0.6.2
docutils==0.15.2
downhill==0.4.0
editdistance==0.5.3
elasticsearch==7.11.0
eli5==0.10.1
en-core-web-md==2.1.0
en-core-web-sm==3.0.0
entrypoints==0.3
ephem==3.7.7.1
fastcluster==1.1.25
fastrank==0.7.0
fasttext==0.9.1
fb-re2==1.0.7
filelock==3.0.12
fitter==1.1.11
flaky==3.6.1
flasgger==0.9.5
Flask==1.1.1
Flask-Cors==3.0.8
Flask-RESTful==0.3.8
flask-restplus==0.13.0
Flask-SQLAlchemy==2.4.4
flatbuffers==1.12
forestci==0.3
fsspec==2021.4.0
ftfy==5.6
future==0.18.2
gast==0.3.3
gensim==3.8.1
gevent==1.4.0
gitdb==4.0.7
gitdb2==2.0.6
GitPython==3.1.14
google-api-core==1.28.0
google-auth==1.27.1
google-auth-oauthlib==0.4.3
google-pasta==0.2.0
googleapis-common-protos==1.53.0
gpustat==0.6.0
graphviz==0.13.2
greenlet==0.4.15
grpcio==1.32.0
guppy3==3.1.0
gym==0.15.4
h5py==3.2.1
hdbscan==0.8.23
HeapDict==1.0.1
hijri-converter==2.1.1
hiredis==2.0.0
holidays==0.11.1
html5lib==1.1
htmlmin==0.1.12
huggingface-hub==0.0.8
Hydra==2.5
idna==2.10
ijson==3.1.4
imageio==2.6.1
imagesize==1.1.0
imbalanced-learn==0.5.0
imgaug==0.3.0
importlib-metadata==4.0.1
inflect==5.3.0
iniconfig==1.1.1
ipykernel==5.1.3
ipypb==0.5.2
ipython==7.9.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
ir-datasets==0.3.3
isanlp==0.0.6
isort==4.3.21
itsdangerous==1.1.0
jedi==0.15.1
Jinja2==2.11.3
jmespath==0.10.0
joblib==1.0.1
json5==0.8.5
jsonnet==0.17.0
jsonpickle==0.9.6
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==5.3.4
jupyter-console==6.0.0
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
jupyter-core==4.6.1
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.4.1
jupyterlab==1.2.3
jupyterlab-server==1.0.6
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
keras-vis==0.4.1
kiwisolver==1.1.0
korean-lunar-calendar==0.2.1
lazy-object-proxy==1.4.3
libact==0.1.3b0
lightgbm==3.2.1
lime==0.1.1.36
line-profiler==2.1.1
llvmlite==0.31.0
lmdb==1.2.1
locket==0.2.0
LunarCalendar==0.0.9
lxml==4.6.3
lz4==3.1.3
Mako==1.1.4
Markdown==3.1.1
MarkupSafe==1.1.1
marshmallow==3.12.2
marshmallow-enum==1.5.1
matchpy==0.5.4
matplotlib==3.1.1
mccabe==0.6.1
memory-profiler==0.58.0
missingno==0.4.2
mistune==0.8.4
mlxtend==0.17.0
more-click==0.0.5
more-itertools==8.7.0
mpld3==0.3
msgpack==1.0.2
multidict==5.1.0
multiset==2.1.1
munch==2.5.0
murmurhash==1.0.5
mypy-extensions==0.4.3
nbconvert==5.6.1
nbformat==4.4.0
networkx==2.4
neuralprophet==0.2.8
nltk==3.6.2
nmslib==2.0.5
nose==1.3.7
notebook==6.0.2
nptyping==1.4.1
numba==0.49.0
numexpr==2.7.0
numpy==1.20.2
numpydoc==0.9.1
nvidia-ml-py3==7.352.0
oauthlib==3.1.0
omegaconf==2.0.6
opencensus==0.7.13
opencensus-context==0.1.2
opencv-python==4.1.1.26
opencv-python-headless==4.1.1.26
OpenNIR==0.1.0
opt-einsum==3.3.0
optuna==2.7.0
overrides==3.1.0
packaging==20.9
pandas==1.2.4
pandas-profiling==2.3.0
pandocfilters==1.4.2
parsimonious==0.8.1
parso==0.5.1
partd==1.0.0
pathtools==0.1.2
pathy==0.5.2
patool==1.12
patsy==0.5.1
pbr==5.6.0
pexpect==4.7.0
phik==0.9.8
pickleshare==0.7.5
Pillow==8.2.0
pkgcore==0.11.2
plac==0.9.6
plotly==4.3.0
pluggy==0.13.1
polara==0.7.2.dev0
pprofile==2.0.2
preshed==3.0.5
prettytable==2.1.0
progressbar==2.5
prometheus-client==0.7.1
promise==2.3
prompt-toolkit==2.0.10
protobuf==3.15.8
psutil==5.8.0
ptyprocess==0.6.0
py==1.10.0
py-cpuinfo==5.0.0
py-rouge==1.1
py-spy==0.3.7
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybind11==2.4.dev4
pycparser==2.20
pydantic==1.7.3
pyDeprecate==0.3.0
pydot==1.4.1
pyglet==1.3.2
Pygments==2.4.2
pyjnius==1.3.0
pykeen==1.5.0
pylint==2.4.4
PyMeeus==0.5.11
pymystem3==0.2.0
pyparsing==2.4.7
pyperclip==1.8.2
pyrsistent==0.15.5
pystow==0.1.10
pyterrier-t5==0.0.1
pytest==6.2.3
pytest-pylint==0.14.1
python-dateutil==2.8.1
python-editor==1.0.4
python-ternary==1.0.8
python-terrier==0.5.0
pytools==2021.2.5
pytorch-forecasting==0.8.5
pytorch-lightning==1.2.10
pytorch-pretrained-bert==0.6.1
pytorch-ranger==0.1.1
pytorch-transformers==1.1.0
pytrec-eval==0.5
pytz==2019.3
PyWavelets==1.1.1
PyYAML==5.4.1
pyzmq==18.1.1
qtconsole==4.6.0
ray==1.3.0
redis==3.5.3
regex==2021.4.4
requests==2.25.1
requests-oauthlib==1.3.0
responses==0.10.6
retrying==1.3.3
rsa==4.7.2
s3transfer==0.4.2
sacred==0.8.0
sacremoses==0.0.45
scikit-image==0.16.2
scikit-learn==0.24.1
scipy==1.6.3
seaborn==0.9.0
Send2Trash==1.5.0
sentencepiece==0.1.95
sentry-sdk==1.0.0
Shapely==1.6.4.post2
sharedmem==0.3.7
shortuuid==1.0.1
six==1.15.0
sklearn==0.0
skorch==0.6.0
smart-open==3.0.0
smmap==4.0.0
smmap2==2.0.5
snakeoil==0.9.1
snowballstemmer==2.0.0
sortedcontainers==2.1.0
soupsieve==2.2.1
spacy==3.0.6
spacy-legacy==3.0.5
sparse==0.12.0
Sphinx==2.2.1
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
SQLAlchemy==1.3.23
sqlitedict==1.7.0
sqlparse==0.3.0
srsly==2.4.1
statsmodels==0.10.1
stevedore==3.3.0
stringcase==1.2.0
subprocess32==3.5.4
tables==3.6.1
tabulate==0.8.9
tblib==1.5.0
tensorboard==2.4.1
tensorboard-plugin-wit==1.8.0
tensorboardX==2.2
tensorflow==2.4.1
tensorflow-estimator==2.4.0
tensorflow-gpu==1.14.0
termcolor==1.1.0
terminado==0.8.3
terminaltables==3.1.0
testpath==0.4.4
Theano==1.0.5
thinc==8.0.3
threadpoolctl==2.1.0
tokenizers==0.10.2
toml==0.10.2
toolz==0.10.0
torch==1.8.1
torch-lr-finder==0.2.1
torch-optimizer==0.1.0
torchmetrics==0.2.0
torchvision==0.9.1
tornado==6.0.3
tqdm==4.60.0
traitlets==4.3.3
transformers==4.5.1
trec-car-tools==2.5.4
typed-ast==1.4.0
typer==0.3.2
typing-extensions==3.7.4.3
typing-inspect==0.7.1
typish==1.9.2
ujson==1.35
Unidecode==1.1.1
urllib3==1.26.4
wandb==0.10.27
warc3-wet==0.2.3
warc3-wet-clueweb09==0.2.5
wasabi==0.8.2
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.16.0
wget==3.2
widgetsnbextension==3.5.1
Wikidata==0.7.0
word2number==1.1
wrapt==1.12.1
xgboost==0.90
yarl==1.6.3
zict==1.0.0
zipp==3.4.1
zlib-state==0.1.3
